* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Product sans";
  color: white;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#bookseeker {
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin: 10%;
  color: white;

  /* glassmorphism */
}
#bookseeker span {
  transform: translateY(0);
  transition: opacity 0.2s ease, transform 0.2s ease;
}
#bookseeker span.bs {
  position: absolute;
  opacity: 1;
}
#bookseeker span.full {
  position: absolute;
  opacity: 0;
  transform: translateY(10px);
}
#bookseeker:hover .bs {
  opacity: 0;
  transform: translateY(-10px);
}
#bookseeker:hover .full {
  opacity: 1;
  transform: translateY(0);
}
#bookseeker .bs,
.full {
  font-size: 10vmin;

  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

body {
  margin: 0;
}
#one {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
#arrow {
  width: 30vmin;
  position: absolute;
  left: 18vh;
  bottom: 27vh;
  display: none;
  transform: rotate(-49deg);
}
#shelf1Arrow {
  width: 16vmin;
  position: absolute;
  left: 12vh;
  bottom: 78vh;
  display: none;
  transform: rotate(89deg);
}
#arrowLeft {
  width: 30vmin;
  position: absolute;
  z-index: -1;
  display: none;
  transform: rotate(131deg);
  top: 65vh;
  left: 17vh;
}
#libraryH3 {
  font-size: 4vh;
  position: absolute;
  right: 4vw;
  top: 42vh;
  background: rgba(0, 0, 0, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  width: 41vmin;
  text-align: center;
  cursor: pointer;
  color: white;
}
#libraryH3In {
  position: absolute;
  bottom: 0;
  background-color: black;
  width: 100vw;
  text-align: center;
  height: 10vmin;
  display: block;
  font-size: 7vmin;
  color: white;
}

#tutorial {
  display: blocked;
  position: absolute;
  font-size: 10vmin;
  right: 10vw;

  width: fit-content;
  text-align: center;
  transition: 0.2s;
  color: white;
}
#tutorial,
.bs,
.full,
#randombooks,
#brownbook,
#redbook,
#bookshelf2,
#bookshelf1 {
  /* background: rgba(0, 255, 255, 0.25); */
  background: rgba(0, 0, 0, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  cursor: pointer;
}
#back,
#backLibrary {
  width: 15vmin;
  position: absolute;
  right: 5vw;
  bottom: 76vh;
  filter: invert(1);
}
#shelf1and2 {
  font-size: 4vh;
  position: absolute;
  right: 52vw;
  top: 25vh;
  background: rgba(0, 0, 0, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  width: fit-content;
  text-align: center;
  cursor: pointer;
  color: white;
  padding-inline: 15px;
  font-size: 7vmin;
}
#shelf2and3,
#shelf4and5,
#shelf6 {
  position: absolute;
  right: 24vw;
  top: 39vh;
  background: rgba(0, 0, 0, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: fit-content;
  text-align: center;
  cursor: pointer;
  color: white;
  padding-inline: 15px;
  font-size: 6vmin;
}
#shelf4and5 {
  top: 24vh;
  left: 51vw;
  font-size: 5vmin;
}
#shelf6 {
  top: 33vh;
  left: 78vw;
  font-size: 5vmin;
}
#tutorialMat {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50vh;
}
#tutorialdiv {
  background: rgba(0, 0, 0, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  text-align: center;
  width: 82vmin;
  height: 24vh;
  align-items: center;
  padding: 8vmin;
  font-size: 4vmin;
  position: absolute;
  top: -16vh;
  left: 10vw;
}
#tutorialdiv h3 {
  background: rgba(0, 0, 0, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  width: 4em;
  position: absolute;
  left: 0;
  top: 0;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#tutorialMat,
#tutorialdiv {
  display: none;
  z-index: 99;
}
#randombooks,
#brownbook,
#redbook,
#bookshelf2,
#bookshelf1 {
  display: none;
  text-align: center;
  width: fit-content;
  padding: 10px;
  position: absolute;
}
#brownbook,
#redbook {
  background: rgba(107, 0, 1, 0.4);
  left: 32vw;
  top: 31vh;
  font-size: 4vmin;
}
#redbook {
  background: rgba(255, 0, 2, 0.4);
  left: 3vw;
  top: 45vh;
  width: 42vmin;
}
#bookshelf1,
#bookshelf2 {
  top: 85vh;
  left: 3vw;
  width: 43vmin;
}
#bookshelf2 {
  left: 55vw;
}
#randombooks {
  left: 59vw;
  top: 55vh;
}
#brownbook {
  display: none;
  left: -4vw;
  top: 29vh;
  width: fit-content;
}
.randomBooksSidebar {
  background: rgba(0, 0, 0, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  height: 100vh;
  width: 50vw;
  position: absolute;
  left: -100em;
  top: 0;
  border-top-left-radius: unset;
  border-bottom-left-radius: unset;
  z-index: 99;
  transition: 0.2s ease-in-out;
}
#RBSClose {
  position: absolute;
  right: 0;
  background: red;
  border-top-right-radius: 10px;
  width: 18vmin;
  font-size: 5vmin;
}
.RBSContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
#RBSMotherContainer{
  display: none;
}