* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Product sans";
  color: white;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#bookseeker {
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin: 10%;
  color: black;

  /* glassmorphism */
}
#bookseeker span {
  transform: translateY(0);
  transition: opacity 0.2s ease, transform 0.2s ease;
}
#bookseeker span.bs {
  position: absolute;
  opacity: 1;
}
#bookseeker span.full {
  position: absolute;
  opacity: 0;
  transform: translateY(10px);
}
#bookseeker:hover .bs {
  opacity: 0;
  transform: translateY(-10px);
}
#bookseeker:hover .full {
  opacity: 1;
  transform: translateY(0);
}
#bookseeker .bs,
.full {
  font-size: 10vmin;
  /* background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18); */
}

body {
  margin: 0;
}
#one {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
#arrow {
  width: 30vmin;
  position: absolute;
  left: 18vh;
  bottom: 27vh;
  display: none;
  transform: rotate(-49deg);
}
#shelf1Arrow {
  width: 16vmin;
  position: absolute;
  left: 12vh;
  bottom: 78vh;
  display: none;
  transform: rotate(89deg);
}
#arrowLeft {
  width: 30vmin;
  position: absolute;
  z-index: -1;
  display: none;
  transform: rotate(131deg);
  top: 65vh;
  left: 17vh;
}
#libraryH3 {
  font-size: 4vh;
  position: absolute;
  right: 4vw;
  top: 42vh;
  background: rgba(0, 230, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 41vmin;
  text-align: center;
  cursor: pointer;
  color: black;
}
#libraryH3In {
  position: absolute;
  bottom: 0;
  background-color: black;
  width: 100vw;
  text-align: center;
  height: 10vmin;
  display: block;
}
/* .ar img{
    width: 100%;
    height: 217vmin;
    position: relative;
    z-index: -1;
    top: -5vh;
} */
#tutorial {
    display: flex;
  position: absolute;
  font-size: 10vmin;
  right: 10vw;
  /* background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18); */
  width: fit-content;
  text-align: center;
  transition: 0.2s;
  color: black;
}
#tutorial, #bookseeker .bs,
.full {
  background: rgba( 0, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
#back{
  width: 15vmin;
  position: absolute;
  right: 5vw;
  bottom: 76vh;
  filter: invert(0);
}
#shelf1and2{
  font-size: 4vh;
  position: absolute;
  right: 52vw;
  top: 25vh;
  background: rgba(0, 230, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: fit-content;
  text-align: center;
  cursor: pointer;
  color: black;
  padding-inline: 15px;
  font-size: 7vmin;
}
#shelf2and3{
  position: absolute;
  right: 24vw;
  top: 34vh;
  background: rgba(0, 230, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: fit-content;
  text-align: center;
  cursor: pointer;
  color: white;
  padding-inline: 15px;
  font-size: 6vmin;
}
#shelf2and3{
  position: absolute;
  right: 24vw;
  top: 34vh;
  background: rgba(0, 230, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: fit-content;
  text-align: center;
  cursor: pointer;
  color: white;
  padding-inline: 15px;
  font-size: 6vmin;
}